
header {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.pre-slogan {
    font-size: 18px;
    text-align: center;
}

.slogan {
    text-align: center;
    font-size: 70px;
}

li {
    font-size: 50px;
    /* width: 485px; */
    /* padding: 200px; */
    border: 1px solid red;
    margin: 10px;
}

.jcarousel__container {
    position: relative;
}

.jcarousel-next, .jcarousel-prev {
    position: absolute;
    display: block;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    text-align: center;
    padding-top: 13px;
    border-radius: 50%;
    margin: 0;
    top: 45%;
    /* vertical-align: middle; */
}

.jcarousel-next {
    /* top: 50%; */
    left: 50px;
}

.jcarousel-prev {
    /* top: 50%; */
    right: 50px;
}


.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
    margin: 0 auto;
}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;

    width: 80%;
    margin: 0 auto;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 10000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}